@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #15202B;
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0;
}

.nav-bar {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  flex-direction: row;
  width: 1076px;
  height: 58px;
  left: 182px;
  margin-top: 0px;
  background: #343A40;
  border-radius: 6px;
}

.bar-button {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-left: 15px;
    padding: 15px;
    /* display: inline; */
    /* width: 38px;
    height: 16px; */
    left: 35.87px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    
    display: inline-block;
    align-items: center;
    bottom: 12px;
    

    width: 41px;
    height: 16px;
    
    color: rgba(255, 255, 255, 0.5);
    
}

.bar-button:hover {
  color: #FFFFFF;
}



.post-box {
  /* position: absolute;
  width: 600px;
  height: 180px;
  left: 367px;
  top: 105px;
  border: 2px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 6px; */

  position: relative;
  width: 604px;
  height: 180px;
  left: 367px;
  top: 105px;
  
  border: 2px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 6px;
}

.text-box {
  
  background-color: #15202B;
  border: 0px;
  font-family: 'Roboto', sans-serif;
  order: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  position: absolute;
  width: 500px;
  height: 100px;
  left: 7px;
  top: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #CCCCCC;
  
}

.post-date {
  position: relative;
  width: 169px;
  height: 16px;
  margin-right: 5px;
  margin-top: 10px;
  float: right;
  display: inline;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;

  align-items: center;
  text-align: right;
  color: #6C757D;  
}

.user-name {
  position: absolute;
  width: 169px;
  height: 16px;
  margin-left: 10px;
  margin-top: 10px;
  /* float: left; */
  display: inline;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;

  align-items: center;
  text-align: right;
  color: #6C757D;
}

.text-area {
  margin-left: 10px;
  top: 48px;
  position: absolute;
}

.tweet-button {
position: absolute;
width: 68px;
height: 34px;
left: 520px;
top: 130px;
background: #007BFF;
border-radius: 4px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
align-items: center;
text-align: center;
color: #FFFFFF;
text-overflow: center;
border: none;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
}
.shadow:hover {
  box-shadow: 0 12px 16px 0 rgba(21, 20, 20, 0.22), 0 2px 25px 0 rgba(152, 143, 143, 0.22) ;
}

.feed {
  position: absolute;
  width: 600px;
  margin: 0 auto;
  left: 367px;
  top: 300px;
  height: auto !important;
  height: 100%; 
  min-height: 100%;
  /* border: 2px solid #CCCCCC; */
  border-radius: 6px;
  color: white;
}

.tweet-box {
  margin-top: 15px;
  position: relative;
  width: 600px;
  height: 100px;
  background: #343A40;
  border-radius: 6px;
  /* border: 1px solid white; */

}

.profile-header {
  position: absolute;
  width: 103px;
  height: 42px;
  left: 369px;
  top: 110px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}






